.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    text-transform: capitalize;
    text-align: left;
}

.InputElem {
    width: 100%;
    display: block;
    outline: none;
    border: 1px solid #ccc;
    background: white;
    font: inherit;
    padding: 6px 10px;
    box-sizing: border-box;
}

.InputElem:focus {
    outline: none;
    background: #fcebc9;
}

.Invalid {
    border: 1px solid red;
}

.InvalidString {
    color: red;
    text-align: left;
    font-size: 0.8em;
}